{{#if contributeQuestionForm}}
    <h2>Contribute a Question</h2>
    <div>
      <form>
        <div class="form-group">
          <label for="question">Question</label>
          {{input value=question id="question"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="notes">Additional Information</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'saveQuestion' }}>Save </button>
    </form>
  </div>
  {{else}}
    <button {{action 'contributeQuestionForm'}}>Add Question</button>
    {{/if}}
